body{
    
     font: 15px/1.5 Arial, Helvetica, sans-serif ;
     margin: 0;
     padding: 0;
     background-color:  white  ;
      
}


       
div.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
    
}

nav ul{
    margin: 0;
    padding: 0;

}

header{
    background-color:#1A1032 ;
     color: white;
     padding-top: 0px;
     min-height: 0px;
     width: auto;

    
}

header a{
    color: white;
    text-decoration: none;
    text-transform:capitalize;
    font-size: 15px;
    font-family: 'Poppins', Times, serif;
    
}

header li{
    float: left;
    display: inline;
    padding: 0px 40px 0px 40px;
    width: auto;
   
}

header #branding{
    float: left;
    margin-top: 0px;
    
}

header #branding h1{
     margin: 50px;
}

header nav{
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    width: auto;
}

header .highlight, header .current a{
    color: blue ;
    font-weight: bold;
    text-decoration: underline;

    
}

header a:hover{
    color: orange; 
    font-weight: bold;
}

    footer{
        padding: 10px;
        margin-top: 0px;
        color: white  ;
        background-color: #1A1032 ;
        text-align: center;
        
    }

    div.container h1{
        color: rgb(3, 196, 155);
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

    div.container p{
        margin-top: -10px;
        color: black;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }

    div.container h2{
        color:black;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
li{
    margin-top: -13px;
    line-height: 45px;
}








